.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        left: auto;
        right: -66px;
    }
}

.carousel {
    &__inner {
        @media screen and (max-width:1216px) {
            width: 500px;
        }

        @media screen and (max-width:576px) {
            width: 350px;
        }

        img {
            @media screen and (max-width:1216px) {

                // width: 500px;
                height: 100%;
            }

        }
    }

    .slick-prev,
    .slick-next {
        @media screen and (max-width:768px) {
            top: 110%;
            left: 20%;
        }
    }

    .slick-next {
        @media screen and (max-width:768px) {

            left: auto;
            right: 20%;

        }
    }
}